# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Environment variables
.env

# Uploads and model weights
data/uploads/
model/weights/

# VS Code
.vscode/
*.code-workspace

# Logs
*.log
logs/

# Training data
data/raw/
data/processed/

# JavaScript
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*